<div class="ingredients col-md-5" id="ingredients">
  <h2 class="container_heading">Ingredients</h2>

  <% if @recipe.ingredients.length == 0 %>
    <p class="content">No ingredients have been added!</p>
  <% else %>
    <% @recipe.ingredients.each do |ingredient| %>
      <div <% if ingredient.id%2 == 0 %>class="even_ingredient"<% else %>class="odd_ingredient"<% end %>>
        <% if ingredient.measurement == 'N/A' %>
          <p class="content non_cursive" id="<%= "ingredient_#{ingredient.id}" %>">* <%= "%g" % ingredient.amount.to_s + " " + ingredient.item %></p>
        <% else %>
          <p class="content non_cursive" id="<%= "ingredient_#{ingredient.id}" %>">* <%= "%g" % ingredient.amount.to_s + ingredient.measurement + " " + ingredient.item %></p>
        <% end %>

        <% if user_signed_in? && current_user.id == @recipe.user_id %>
          <% if @recipe.user_id == current_user.id %>
            <%= form_for ingredient, :html => {:id =>  "edit_ingredient_#{ingredient.id}"} do |f| %>
              <%= f.text_field :item, :required => 'required' %>
              <%= f.number_field :amount, min: 0, :placeholder => 'Amount', :required => 'required', :step => 0.25 %>
              <%= f.select :measurement, %w(N/A g kg oz ml L cup(s)), {:include_blank => 'Measurement'}, :required => true %>
              <br>
              <!--<%= f.submit 'Save', :class => 'submit_buttons' %>-->

              <%= f.submit 'Save', :class => 'submit_buttons' %>
              <button type="button" class="submit_buttons" onclick='cancel_ingredient_edit(<%= "#{ingredient.id}" %>)'>Cancel</button>
            <% end %>

            <div class="content_buttons" id="ingredient_buttons_<%= "#{ingredient.id}" %>">
              <button type="button" class="edit_button edit_step_button" onclick='edit_ingredient(<%= "#{ingredient.id}" %>)'>Edit</button>
              <%= link_to 'Delete', ingredient, method: :delete, :class => 'delete_button'%>
            </div>
          <% end %>
        <% end %>
      </div>
      <br>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <% if @recipe.user_id == current_user.id %>
      <%= form_for Ingredient.new, remote: true do |f| %>
        <div class="ingredients_form">

          <%= f.text_field :item, :placeholder => 'Item', :required => 'required' %>

          <%= f.number_field :amount, min: 0, :placeholder => 'Amount', :required => 'required', :step => 0.25 %>

          <%= f.select :measurement, %w(N/A g kg oz ml L cup(s)), {:include_blank => 'Measurement'}, :required => true %>

          <%= f.hidden_field :recipe_id, :value => @recipe.id %>
        </div>
        <div>
          <%= f.submit 'Add Ingredient +', :class => 'submit_buttons' %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>