<% content_for :title, "Create Recipe" %>
<div class="container">
  <div class="row">
    <%= form_for(@recipe) do |f| %>
      <div class="col-md-6 col-md-offset-3">
        <div class="new_recipe_form">

          <% if @recipe.errors.any? %>
            <div class="form_error">
              <ul>
                <% @recipe.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field_wrapper">
            <label>Recipe Title *</label>
          <%= f.text_field :title, :placeholder => "What's the name of your recipe?", :id => 'recipe_title', :required => 'required' %>
          </div>

          <div class="field_wrapper">
            <label>Recipe Description *</label>
            <%= f.text_area :description, :placeholder => "Tell us a little bit about it", :id => 'recipe_description', :required => 'required' %>
          </div>

          <div class="field_wrapper">
            <label>Upload image</label>
            <%= f.file_field :cover, :class => 'file_field' %>
          </div>

          <div class="field_wrapper">
            <label>Add tags *</label>
            <input name='tags' placeholder="E.g. Breakfast, Vegan, Fish" id="recipe_tags">
          </div>

          <div class="button_wrapper">
            <button type="button" class="create_recipe_button" onclick="check_recipe_form()">Create Recipe</button>
            <%= link_to '/' do %><button class="create_recipe_button">Cancel</button><% end %>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>

<script>
 var t = document.getElementsByClassName("tagify");
 var input = document.querySelector('input[name=tags]')
  if(t.length > 0) {
      t[0].remove();
      tagify = new Tagify( input );
  } else {
      tagify = new Tagify( input );
  }
</script>