<% content_for :title, "#{@user.first_name + ' ' + @user.last_name}" %>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="profile_left">
        <h2><%= @user.first_name + ' ' + @user.last_name %> - <small>@<%= @user.username %></small></h2>
        <div class="avatar_container" style="background-image: url(<%= @user.avatar.url %>)"></div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="profile_right">
        <h1>Bio</h1>
        <p><%= @user.bio %></p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="edit_profile_button_container">
        <%= link_to edit_user_path(@user), class: "no-text-decoration" do %><button type="button" class="edit_profile_button">&#9998; Edit Profile</button><% end %>
      </div>
    </div>

    </div>
  </div>
</div>