<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title><%= yield :title %> | RecipeDigital</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'mobile_style' %>
    <%= stylesheet_link_tag 'tagify' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap/bootstrap.min' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Serif' rel='stylesheet'>
    <script src="tagify.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  <div class="wrapper">
    <nav class = "desktop_nav">
        <div class="nav_logo_container">
          <%= link_to '/', :class => 'nav_logo' do %>Recipe<span class="logo_digital">Digital</span><% end %>
        </div>
        <div class="nav_items">
          <%= link_to 'All Recipes', '/', :class => 'nav_item' %>
          <%= link_to 'Create Recipe', '/create_recipe', :class => 'nav_item' %>
          <% if user_signed_in? %>
            <%= link_to 'My Recipes', '/my_recipes', :class => 'nav_item' %>
            <div class="right_nav_items">
              <%= link_to current_user, :class => 'nav_item' do %>
                <% if current_user.avatar? %>
                  <div class="circle_avatar_container" style="background-image: url(<%= current_user.avatar.url :thumb %>)"></div>
                <% else %>
                  <div class="circle_avatar_container" style="background-image: url(<%= asset_path 'default_avatar_thumb.jpg' %>)"></div>
                <% end %>
                <%= current_user.first_name + ' ' + current_user.last_name  %>
              <% end %>
              <%= link_to "Log Out", destroy_user_session_path, :method => 'delete', :class => 'nav_item' %>
            </div>
          <% else %>
            <div class="right_nav_items">
              <%= link_to "Log In", new_user_session_path, :class => 'nav_item' %>
              <%= link_to "Sign Up", new_user_registration_path, :class => 'nav_item' %>
            </div>
          <% end %>
        </div>
    </nav>
    <div class="menuButton" id="menuButton" onclick="decide(this);">
      <div id = "bar1"></div>
      <div id = "bar2"></div>
      <div id = "bar3"></div>
    </div>
    <nav class = "mobile_nav" id="mobile_nav">
      <div class="mobile_nav_items">
        <%= link_to '/' do %><div class="mobile_nav_item">All Recipes<span style = "float: right; padding-right: 2%;">></span></div><% end %>
        <%= link_to '/create_recipe' do %><div class="mobile_nav_item">Create Recipe<span style = "float: right; padding-right: 2%;">></span></div><% end %>
        <% if user_signed_in? %>
          <%= link_to '/my_recipes' do %><div class="mobile_nav_item">My Recipes<span style = "float: right; padding-right: 2%;">></span></div><% end %>
          <div class="bottom_mobile_nav_items">
            <%= link_to destroy_user_session_path, :method => 'delete' do %><div class="mobile_nav_item">Log Out<span style = "float: right; padding-right: 2%;">></span></div><% end %>
          </div>
        <% else %>
          <div class="bottom_mobile_nav_items">
            <%= link_to new_user_session_path, :class => 'bottom_mobile_nav_item' do %><div class="mobile_nav_item">Log In<span style = "float: right; padding-right: 2%;">></span></div><% end %>
            <%= link_to new_user_registration_path, :class => 'bottom_mobile_nav_item' do %><div class="mobile_nav_item">Sign Up<span style = "float: right; padding-right: 2%;">></span></div><% end %>
          </div>
        <% end %>
      </div>
    </nav>
    <div class="mobile_logo">
      <strong><h1>Recipe<span class="logo_digital">Digital</span></h1></strong>
    </div>
    <%= yield %>
    <% if flash[:notice] %>
      <script>remove_flash()</script>
      <div id="notification" class="notice_flash"><p class="notice"><%= notice %></p></div>
    <% end %>
    <% if flash[:alert] %>
      <script>remove_flash()</script>
      <div id="notification" class="alert_flash"><p class="alert"><%= alert %></p></div>
    <% end %>
  </div>
  <footer class="footer">
    <div class="footer_content non_cursive">
      &copy; RecipeDigital <span id = "date"></span> All Rights Reserved<br>
      <a href="mailto:contact@recipedigital.com?Subject=Contact%20from%20website" style = "padding-left: 1em;">contact@recipedigital.com</a><br>
    </div>
  </footer>
  </body>
  <script>
      /* Gets current year for footer ----*/
      var date = new Date();
      var year = date.getFullYear();
      document.getElementById('date').innerHTML = (year);
      /*---------------------------------*/
  </script>
</html>
